@font-face {
    font-family: "Harvest-Barn";
    src: url("assets/fonts/harvest-barn.ttf") format("truetype");
}

@font-face {
    font-family: "Hughs";
    src: url("assets/fonts/hughs.otf") format("opentype");
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222;
    font-family: Verdana, Calibri, Arial;
    font-size: 14px;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

header, footer, article {
    padding: 60px 200px 90px 200px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(69, 80, 118, 1);
    font-family: "Lucida Grande", Calibri;
}

hr {
    opacity: 0.3;
}

.pull-right {
    float: right;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.center-aligned {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-header {
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    & > li {
        display: inline-block;
        width: 50%;
        margin-bottom: 8px;
        &:nth-child(odd) {
            padding-right: 10px;
        }
        &:nth-child(even) {
            padding-left: 10px;
        }
    }
}

.label- {
    &title {
        display: inline-block;
        width: 55%;
    }
    &content {
        display: inline-block;
        width: 45%;
    }
}

.label-icon {
    margin-right: 10px;
    &:before {
        vertical-align: sub;
    }
}

header {
    position: relative;
    height: 100vh;
    background: radial-gradient(rgba(136, 136, 136, 1) 0%, rgba(0, 0, 0, 1) 70%);
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        opacity: 0.4;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("assets/images/colon_sky.jpg");
        background-size: cover;
        background-position: 0px 70%;
        background-repeat: no-repeat;
    }
    h1 {
        color: #fff;
        position: relative;
        height: 100%;
        margin: 0;
        font-size: 58px;
        font-weight: normal;
        width: 100%;
        text-align: center;
    }
}

footer {
    min-height: 60vh;
    background-color: rgba(77, 77, 77, 1);
    ul {
        li {
            a {
                text-decoration: none;
                color: #fff;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

article {
    .sub-header {
        color: rgba(73, 125, 178, 1);
    }
    .label-header {
        margin-bottom: 0px;
    }
    &:nth-child(odd) {
        background-color: rgba(253, 242, 228, 1);
    }
    &:nth-child(even) {
        background-color: rgba(255, 255, 255, 1);
    }
}

#about {
    & > section {
        display: inline-block;
        vertical-align: top;
        &.about-picture {
            width: 300px;
            height: 500px;
            background-image: url("assets/images/ashley_yang.jpg");
            background-size: auto 100%;
            background-position: right;
            background-repeat: no-repeat;
        }
        &.about-info {
            width: calc(100% - 300px);
            padding-left: 20px;
        }
    }
}
